{
  "env": {
      "production": {
          "plugins": ["transform-runtime"],
          "presets": ["env", "stage-0"]
      },
      "development": {
          "plugins": ["transform-runtime", "istanbul"],
          "presets": ["env", "stage-0"]
      }
  }
}
