{
"require": [
  "babel-register"
],
"sourceMap": false,
"instrument": false,
"include": [
    "src"
  ],
  "exclude": [
    "src/util/logger.js",
    "index.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "all": true,
  "cache": true
}
